.chat-side

  .side-header
    .side-header__box
      %p.side-header__box__user-name うめうめ
      %ul.side-header__box__menu
        %li.side-header__box__menu__new-group
          = link_to "#", class:"new-group__btn" do
            = icon('fas', 'edit')
        %li.side-header__box__menu__edit-user
          = link_to "#", class:"edit-user__btn" do
            = icon('fas', 'cog')
            
  .groups
    .group
    %p.group__group-name テックエキスパート
    %p.group__latest-message まだメッセージがありません
    .group
    %p.group__group-name test
    %p.group__latest-message まだメッセージがありません
